GMAIL_USER=seu_email@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

RECIPIENTS=email1@dominio.com.br,email2@dominio.com.br
ERROR_RECIPIENT=email1@dominio.com.br

COMPANY_SLUG=empresa-exemplo
COMPANY_NAME=Empresa Exemplo

START_HOUR=7
END_HOUR=18

HEADLESS=true
LOG_LEVEL=INFO
